{{ form_start(formUpload) }}
    <div class="d-flex gap-2 mt-5 container text-center">
        {{ form_row(formUpload.file, {'attr' : {'class' : 'form-control', 'accept' : '.xls,.xlsx'}}) }}
        <button type="submit" class="btn btn-secondary">Sauvegarder</button>
        <a href="{{ path('app_invoice_ajout') }}" class="btn btn-primary ms-auto" type="button">Nouvelle ligne</a>
    </div>
{{ form_end(formUpload) }}