{% extends 'base.html.twig' %}

{% block title %}
    Test Symfony
{% endblock %}

{% block body %}
    <style>

    </style>

    <div class="container text-center">
        <h1>{{ test }}</h1>
    </div>
{% endblock %}
